<div style="text-align:left">
  <h2>{{Hometitle}}</h2>
</div>
  <button class="btn btn-info" [routerLink]="['new']">  Add New Product  </button> 

  



<table style="width:100%">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
</table>
<div *ngFor="let product of products">
<table style="width:100%">
  <td>{{product._id}}</td>
  <td>{{product.name}}</td>
  <td>{{product.price}}</td>
  <td>{{product.quantity}}</td>
  <td><button class="btn btn-info" [routerLink]="['/products', product._id]">  Details  </button> <button class="btn btn-info" [routerLink]="['edit', product._id]">  Edit  </button></td>
</table>
</div>














  
  <!-- <a [routerLink]="['new']">Add a pet to the shelter</a>
</div>
  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </table>
  <div *ngFor="let pet of pets">
    <table style="width:100%">
      <tr>
        <td>{{pet.name}}</td>
        <td>{{pet.type}}</td>
        <td><button class="btn btn-info" [routerLink]="['details', pet._id]">  Details  </button>         <button class="btn btn-info" [routerLink]="['edit', pet._id]">  Edit  </button></td>
      </tr>
    </table>
  </div> -->


