<div style="text-align:left">
<h1>{{newTitle}}</h1>
</div>
<button class="btn btn-info" (click)="home()">Home</button>
<div class="container">
    <form (submit)="submitProduct()" #form_data="ngForm">
      <!-- <p>{{newProduct | json }}</p> -->
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="newProduct.name" [(ngModel)]="newProduct.name" required>
        <div style="color:red">{{errors.name}}</div>
      </div>
      <div class="form-group">
          <label for="type">Qty</label>
          <input type="text" class="form-control" id="quantity" name="newProduct.quantity" [(ngModel)]="newProduct.quantity" required>
          <div style="color:red">{{errors.quantity}}</div>
        </div>
        <div class="form-group">
            <label for="description">Price</label>
            <input type="text" class="form-control" id="price "name="newProduct.price" [(ngModel)]="newProduct.price" required>
            <div style="color:red">{{errors.price}}</div>
        </div>
        <button type="submit" [disabled]="form_data.form.invalid" class="btn btn-success">Create</button>    
      </form>
    </div>
    
    <button class="btn btn-info" (click)="reset()">Reset</button>
 
 
 
 
 
 
